# ---------- Python cache ----------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# ---------- Virtual environments ----------
venv/
env/
churn_env/

# ---------- Jupyter checkpoints ----------
.ipynb_checkpoints/

# ---------- System files ----------
.DS_Store
Thumbs.db

# ---------- Environment / secret files ----------
.env
*.env

# ---------- Model & temp files ----------
*.joblib
*.pkl
*.h5
*.npy
*.npz

# ---------- Build & deployment artifacts ----------
*.egg-info/
dist/
build/

# ---------- IDE / editor files ----------
.vscode/
.idea/

# ---------- Elastic Beanstalk (if not using) ----------
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
